@model IEnumerable<PeopleProTraining.Dal.Models.Department>
@using PeopleProTraining.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("../Shared/DisplayTemplates/TableDisplay", DepartmentTableDisplayModel.make(Model))

@Html.Partial("../Shared/EditorTemplates/ItemCreator", new ItemCreatorModel { Label = "Department", Controller = "Departments", TableId = "DepartmentsTable" })
