@model IEnumerable<PeopleProTraining.Dal.Models.Building>
@using PeopleProTraining.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
            @{ 
                TableDisplayModel displayModel = new TableDisplayModel();
                displayModel.DisplayValue = item.BuildingName;
                displayModel.EditId = item.BuildingId;
                @Html.Partial("../Shared/DisplayTemplates/TableDisplay", displayModel)
            }
    </tr>
}

</table>
