@using PeopleProTraining.Models
@model IEnumerable<PeopleProTraining.Dal.Models.Building>




    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
    @Html.Partial("../Shared/DisplayTemplates/TableDisplay", BuildingTableDisplayModel.make(Model))
    
    @Html.Partial("../Shared/EditorTemplates/ItemCreator", new ItemCreatorModel { Label = "Building", Controller="Buildings", TableId="BuildingsTable" })
