@using PeopleProTraining.Models
@model TableDisplayModel


<table class="table" id=Model.TableId>
    <tr>
        <th>
            @Html.DisplayName(Model.DisplayName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Table)
    {
        <tr>
            @Html.Partial("~/Views/Shared/DisplayTemplates/TableRowDisplay.cshtml", item)
        </tr>
    }

</table>


