@model PeopleProTraining.Models.TableRowDisplayModel

<td>
    @Model.DisplayValue
</td>
<td>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EditId }) |
    @Html.ActionLink("Details", "Details", new { id = Model.EditId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.EditId })
</td>




